@font-face {
    font-family:"kaushan";
    src:url("fonts/KaushanScript-Regular.otf")
}

*{
    font-family: Geneva, Tahoma, Arial, serif;

}

header{
    display: flex;
    background-color:rgb(14, 14, 204);
    color:white;
}

.header{
    margin:auto;
}


h1{
    font-family:kaushan;
    text-align: center;
    font-size:3.5em;
}


.questionnaire{
    display: flex;
    background-color:rgb(14, 14, 204);
    color:white;
    justify-content: space-around;
}

#grand_questionnaire{
    background-color:rgb(14, 14, 204);
    justify-content: center;
    padding-bottom: 50px;
}

#form{
    display:flex;
}

#form .col{
    justify-content: center;
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
}

ul{
    list-style:none}


input[type=number]:hover{
    border-color: #7b38d8;
}

select:hover{
    border-color: #7b38d8;
}

.valid {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    width: 250px;
    height:80px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.valid:hover{
    background-color: green;
    box-shadow: 3px 3px 3px black inset;
}

#generer{
    position: relative;
    bottom: -50px;
}

#params{
    width: 250px;
    height:80px;
    padding:10px;
    vertical-align: middle;
    position: relative;
    bottom: -50px;
}

#params_button{
    width: 170px;
    height:30px;
    
}

#checkbox-block{
    display:none;
}

#random_button{
    width: 170px;
    height:80px;
    border-radius: 30px;
}

#plot{
    border:5px red solid;
    background-color:white;
    border-radius:5px;
    text-align: center;

}

h2{
    font-family:kaushan;
    text-align: center;
    font-size:2em;
}

label{
	display: block;
	width: 150px;
	float: left;
}

#box{
    display:flex;
}

#box li{
    margin:auto;
}

.fractale{
    width:200%;
    max-width: 500px;
    position:relative;
    margin-right: 50px;
    border-radius: 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.fractale:hover{
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border:3px #7b38d8 ridge;
}

#infos li{
    margin-bottom:30px;
}

a{
    text-decoration:none;
    color:white;
}

#autres_params li{
    margin-left:0px;
}

#autres_params{
    opacity:0;
    padding-left:0px;
    transition: all 1s;
}

#checkbox-block:checked + #autres_params{
    display:block;
    opacity:1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

footer{
    display: flex;
    background-color:rgb(14, 14, 204);
    color:white;
    justify-content: space-around;
}

.galerie{
    display: flex;
    background-color:rgb(14, 14, 204);
    color:white;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .valid{
    height:20px;
}

.galerie .fractale{
    flex: 0 0 45%;
}

.grande_galerie{
    background-color:rgb(14, 14, 204);
    color:white;
}

.grande_galerie p, .grande_galerie div{
    color:black;
    border:2px red solid;
    background-color:white;
    border-radius:5px;
    padding:30px;
}

.galerie figcaption{
    text-align: center;
    font-size:1.5em;
    color:black;
}

.math{
    text-align: justify;
}

.math img{
    position: relative;
    bottom: -5px;
}

.math dl dt{
    font-weight: bold;
    margin-bottom:5px;
    margin-top:10px
}

#mand{
    display:flex;
    justify-content:space-around;
}

#mand img{
    height:350px;
    width:auto;
}

#mand figcaption{
    text-align: center;
}

.mandelbrot_img{
    max-width:1000px;
    min-width: 1000px;
}